@use '../../theme.scss' as theme;

.menu {
    position: absolute;
    width: max-content;
    top: 0;
    left: 0;
    z-index: 1;
    outline: none;

    background-color: theme.$base-color-tertiary;
    border-radius: theme.$radius;
    overflow: hidden;
}

.item {
    padding: 0.5rem 0.75rem;
    min-height: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: theme.$base-color-primary;
    }

    &.with-icon {
        padding-left: calc(0.5rem - 1px);
    }
}

.item-icon {
    margin-right: 0.5rem;
}