@use '../../theme.scss' as theme;

.entry {
    position: relative;
}

.entry-heading {
    display: flex;
    cursor: pointer;
    padding: 0 0.5rem;

    &:hover {
        background-color: theme.$base-color-secondary-dark;
    }

    &.selected {
        background-color: theme.$base-color-tertiary;
    }
}

.entry-info {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0;
}

.entry-icon {
    flex: 0 0 auto;
}

.indent {
    width: 24px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5rem;

    &::after {
        content: '';
        border-left: 2px solid theme.$primary;
        height: 100%;
    }
}

.rename-textbox {
    flex: 1 1 0;
}

.save-button-row {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    align-items: center;
    border-top: 1px solid theme.$divider;
}

.permission-request {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    align-items: center;
}

.storage-dir-error {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    align-items: center;
}

.storage-dir-error-message {
    flex: 1 1 0;
}