@use '../../theme.scss' as theme;

.icon {
    width: 24px;
    height: 24px;
    background-color: currentColor;
    display: inline-block;

    &.motif-primary {
        background-color: theme.$primary-lighter;
    }

    &.motif-success {
        background-color: theme.$green;
    }

    &.motif-warning {
        background-color: theme.$yellow;
    }

    &.motif-error {
        background-color: theme.$red;
    }
}

@mixin button-color($hover, $active, $disabled) {
    &:hover {
        background-color: $hover;
    }

    &:active {
        background-color: $active;
    }

    &.disabled {
        background-color: $disabled;
    }
}

.button {
    cursor: pointer;
    background-color: theme.$interactive-normal;

    @include button-color(theme.$interactive-hover, theme.$interactive-active, theme.$interactive-muted);

    &.motif-monochrome {
        background-color: currentColor;
        @include button-color(currentColor, currentColor, currentColor);
        transition: opacity 0.175s ease;

        &:hover {
            opacity: 0.875;
        }

        &:active {
            opacity: 0.75;
        }

        &.disabled {
            opacity: 0.5;
        }
    }

    &.disabled {
        cursor: not-allowed;
    }

    transition: background-color 0.175s ease;
}

@mixin def-icons($names) {
    @each $name in $names {
        .#{$name} {
            mask-image: url('../../assets/icons/#{$name}.svg');
        }
    }
}

.arrow-right {
    mask-image: url('../../assets/icons/arrow-down.svg');
    transform: rotate(-90deg);
}

.arrow-right, .arrow-down {
    transition: transform 0.175s ease;
}

@include def-icons(
    arrow-down
    cancel
    check
    close
    edit
    error
    export
    file
    folder
    plus
    undo
    redo
    retry
    send
    warning
)