@use '../../theme.scss';

.chat-pane {
    background-color: theme.$base-color-primary;

    padding: theme.$pane-padding;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 0.5rem;
}