@use '../../theme.scss';

.settings-pane {
    background-color: theme.$base-color-secondary;

    flex: 1 1 auto;
    width: 24rem;
    overflow: auto;
}

.setting {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;

    gap: 0.25rem;
}
