@use '../theme.scss';

@mixin button-color($normal, $hover, $active, $disabled) {
    background-color: $normal;

    &:hover {
        background-color: $hover;
    }

    &:active {
        background-color: $active;
    }

    &:disabled {
        background-color: $disabled;
        color: rgba(255, 255, 255, 0.5);
    }
}

button {
    @include theme.bg-fade;
    transition: background-color 0.25s ease;

    background-color: theme.$primary;
    border: none;
    border-radius: theme.$radius;
    color: white;
    cursor: pointer;
    font-size: 90%;
    font-weight: 600;
    padding: 0.675rem 0.75rem;

    @include button-color(theme.$primary, theme.$primary-hover, theme.$primary-active, theme.$primary-muted);

    &:disabled {
        cursor: not-allowed;
    }

    &.green {
        @include button-color(theme.$green, theme.$green-hover, theme.$green-active, theme.$green-muted);
    }

    &.yellow {
        @include button-color(theme.$yellow, theme.$yellow-hover, theme.$yellow-active, theme.$yellow-muted);
    }

    &.red {
        @include button-color(theme.$red, theme.$red-hover, theme.$red-active, theme.$red-muted);
    }
}
