:root {
    --base-color-primary: #161518;
    --base-color-secondary: #101113;
    --base-color-secondary-dark: #0d0e0f;
    --base-color-tertiary: #050607;

    --text: #f8f1e6;
    --text-detail: #b8b4ac;

    --interactive-normal: #9b9996;
    --interactive-hover: #dbdad7;
    --interactive-active: #e7e5de;
    --interactive-muted: #5f5d59;
    --divider: #373344;

    --primary: #503f76;
    --primary-light: #71559b;
    --primary-lighter: #916db8;

    --green: rgb(16, 174, 106);

    --corner-radius: 0.25rem;
}

$base-color-primary: var(--base-color-primary);
$base-color-secondary: var(--base-color-secondary);
$base-color-tertiary: var(--base-color-tertiary);
$text: var(--text);
$text-detail: var(--text-detail);
$interactive-normal: var(--interactive-normal);
$interactive-hover: var(--interactive-hover);
$interactive-active: var(--interactive-active);
$interactive-muted: var(--interactive-muted);
$divider: var(--divider);
$primary: var(--primary);
$primary-light: var(--primary-light);
$primary-lighter: var(--primary-lighter);
$green: var(--green);

$radius: var(--corner-radius);
